In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 2.8 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/16.5 MB 2.7 MB/s eta 0:00:06
   --- ------------------------------------ 1.6/16.5 MB 2.2 MB/s eta 0:00:07
   ---- ----------------------------------- 1.8/16.5 MB 2.0 MB/s eta 0:00:08
   ----- ---------------------------------- 2.1/16.5 MB 1.8 MB/s eta 0:00:08
   ----- ---------------------------------- 2.4/16.5 MB 1.8 MB/s eta 0:00:09
   ------ --------------------------------- 2.9/16.5 MB 1.8 MB/s eta 0:00:08
   ------- -------------------------------- 3.1/16.5 MB 1.9 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/16.5 MB 1.8 MB/s eta 0:00:08
   --------- ------------------------------ 3.9/16.5 MB 1.8 MB/s eta 0:00:07
   --------- ------------------------------ 3.9/16.5 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.5/16.5 MB 1.7 MB/s eta 0:00:07
   ------------ --------------------------- 5.0/16.5 MB 1.7 MB/s eta 0:00:07
   ------------ --------------------------- 5.2/16.5 MB 1.7 MB/s eta 0:00:07
   ------------- -------------------------- 5.5/16.5 MB 1.7 MB/s eta 0:00:07
   -------------- ------------------------- 6.0/16.5 MB 1.7 MB/s eta 0:00:07
   --------------- ------------------------ 6.3/16.5 MB 1.7 MB/s eta 0:00:06
   ---------------- ----------------------- 6.8/16.5 MB 1.7 MB/s eta 0:00:06
   ----------------- ---------------------- 7.3/16.5 MB 1.8 MB/s eta 0:00:06
   ------------------- -------------------- 7.9/16.5 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 8.1/16.5 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.7/16.5 MB 1.8 MB/s eta 0:00:05
   ---------------------- ----------------- 9.2/16.5 MB 1.8 MB/s eta 0:00:05
   ---------------------- ----------------- 9.4/16.5 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.5 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 10.5/16.5 MB 1.9 MB/s eta 0:00:04
   -------------------------- ------------- 10.7/16.5 MB 1.9 MB/s eta 0:00:04
   -------------------------- ------------- 11.0/16.5 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 11.5/16.5 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 11.8/16.5 MB 1.8 MB/s eta 0:00:03
   ----------------------------- ---------- 12.1/16.5 MB 1.8 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.5 MB 1.8 MB/s eta 0:00:03
   ------------------------------- -------- 12.8/16.5 MB 1.8 MB/s eta 0:00:03
   -------------------------------- ------- 13.4/16.5 MB 1.8 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.5 MB 1.8 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.5 MB 1.8 MB/s eta 0:00:02
   ------------------------------------ --- 14.9/16.5 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 1.9 MB/s  0:00:08
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from mysql import connector

Step2 :  Database connection

In [ ]:
conn = connector.connect(
    host="localhost",
    user="root",
    password="bunnyspike246801"
    )

print("Connection established:", conn.is_connected())

Connection established: True

In [ ]:
## create the database

In [5]:
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS Student_db")
print("Database 'Student_db' created successfully.")

Database 'Student_db' created successfully.

In [7]:
## step3 : connect database

conn = connector.connect(
    host="localhost",
    user="root",
    password="bunnyspike246801",
    database="Student_db"
    )

cursor = conn.cursor()
print("Connected to database :", conn.is_connected())

Connected to database : True

##step4 : create table

In [18]:
cursor.execute("CREATE TABLE IF NOT EXISTS Student_info (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age INT)")
print("Table 'Student_info' created successfully.")

Table 'Student_info' created successfully.

In [ ]:
STEP5: INSERT VALUES

In [19]:
cursor.execute("INSERT INTO Student_info (name, age) VALUES ('Alice', 22)")
print("Record inserted successfully.")

Record inserted successfully.

In [ ]:
step 6:MULTIPLE VALUES

In [21]:
#insert more records as needed

sql = "INSERT INTO Student_info (id,name, age) VALUES (%s, %s, %s)"
val = [
    (2,'Bob', 23),
    (3,'Charlie', 24),
    (4,'David', 25)
    ]
cursor.executemany(sql, val)
conn.commit()
print(cursor.rowcount, "records inserted successfully.")

3 records inserted successfully.

DISPLAY TABLE

In [23]:
cursor.execute("SELECT * FROM Student_info")
records = cursor.fetchall()

for row in records:
    print(row)

(1, 'Alice', 22)
(2, 'Bob', 23)
(3, 'Charlie', 24)
(4, 'David', 25)